<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.sf.fakenames.app">

    <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"/>

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@style/AppTheme">
        <activity android:name=".ScriptPicker">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>

                <!-- all content:// and file:// links with look-alike extensions -->
                <data android:pathPattern=".*\.groovy"/>
                <data android:pathPattern=".*\.groovy" android:mimeType="*/*"/>
                <!--
                <data android:scheme="http" android:pathPattern=".*\.groovy"/>
                <data android:scheme="http" android:pathPattern=".*\.groovy" android:mimeType="*/*"/>
                <data android:scheme="https" android:pathPattern=".*\.groovy"/>
                <data android:scheme="https" android:pathPattern=".*\.groovy" android:mimeType="*/*"/>
                -->

                <!-- all well-typed content:// and file:// links -->
                <data android:mimeType="text/groovy"/>
                <data android:mimeType="script/groovy"/>
                <data android:mimeType="application/groovy"/>
                <data android:mimeType="application/x-groovy"/>

                <category android:name="android.intent.category.DEFAULT" />

                <!--
                <data android:scheme="http" android:mimeType="text/groovy"/>
                <data android:scheme="http" android:mimeType="script/groovy"/>
                <data android:scheme="http" android:mimeType="application/groovy"/>
                <data android:scheme="http" android:mimeType="application/x-groovy"/>
                <data android:scheme="https" android:mimeType="text/groovy"/>
                <data android:scheme="https" android:mimeType="script/groovy"/>
                <data android:scheme="https" android:mimeType="application/groovy"/>
                <data android:scheme="https" android:mimeType="application/x-groovy"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                -->

            </intent-filter>

            <!-- special filter for content providers, unable to identify exact type correctly -->
            <intent-filter>

                <action android:name="android.intent.action.SEND"/>

                <data android:scheme="content" android:mimeType="text/*"/>

                <!--
                <category android:name="android.intent.category.BROWSABLE"/>
                -->

            </intent-filter>
        </activity>

        <service android:name=".ScriptBuilder" android:exported="false">
            <intent-filter>
                <action android:name="com.stanfy.enroscar.goro.SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>
